In [1]:
import pandas as pd
import numpy as np

### EJS dataset

In [29]:
EJS = 'datasets/EmreJoachimSara'
ejs = pd.read_table(EJS, sep=',')
ejs.tail()
ejs.columns = ['ID', 'Postcode', 'Type of property', 'Sub Type',
       'Price', 'Type of sale', 'No of Rooms', 'Area(sqft)',
       'Fully Equipped Kitchen(Y/N)', 'Furnished(Y/N)', 'Open Fire(Y/N)', 'Terrace Area', 'Garden Area',
       'Surface of the Land(sqft)', 'Number of facades', 'Swimming pool',
       'State of the building']

Index(['Unnamed: 0', 'Locality', 'Type of property', 'Subtype of property',
       'Price', 'Type of sale', 'Number of rooms', 'Living surface area',
       'Kitchen', 'Furnished', 'Open fire', 'Terrace', 'Garden',
       'Surface of the land', 'Number of facades', 'Swimming pool',
       'State of the building'],
      dtype='object')

In [30]:
ejs.head()

,Unnamed: 0,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Living surface area,Kitchen,Furnished,Open fire,Terrace,Garden,Surface of the land,Number of facades,Swimming pool,State of the building
0,0,1150.0,HOUSE,HOUSE,990000.0,NaN,6.0,485.0,1.0,0.0,0.0,16.0,0.0,251.0,2.0,0,AS_NEW
1,1,4180.0,HOUSE,HOUSE,195000.0,NaN,3.0,242.0,1.0,0.0,0.0,36.0,100.0,475.0,3.0,0,GOOD
2,2,7500.0,HOUSE_GROUP,HOUSE_GROUP,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0,NaN
3,3,4180.0,HOUSE,MIXED_USE_BUILDING,295000.0,NaN,3.0,242.0,1.0,0.0,0.0,36.0,1000.0,1403.0,3.0,0,GOOD
4,4,4570.0,HOUSE,HOUSE,549000.0,NaN,5.0,365.0,1.0,0.0,0.0,15.0,1850.0,25157.0,4.0,0,GOOD

### FPO dataset

In [14]:
FPO = 'datasets/FrancescoPhillippeOpaps'
fpo = pd.read_table(FPO, sep=',')

,Unnamed: 0,Unnamed: 0.1,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,...,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,duplicates,null
0,0,0,https://www.immoweb.be/en/classified/house/for...,brakel,9660,Yes,house,274000,None,3,...,No,None,No,None,None,508,3,No,0,5
1,1,1,https://www.immoweb.be/en/classified/house/for...,meise-wolvertem,1861,Yes,house,485000,None,3,...,Yes,23,Yes,450,None,600,3,No,0,3
2,2,2,https://www.immoweb.be/en/classified/house/for...,kraainem,1950,Yes,house,770000,None,5,...,Yes,None,Yes,40,None,200,3,No,0,4
3,3,3,https://www.immoweb.be/en/classified/mansion/f...,liege-2,4020,Yes,mansion,259000,None,4,...,Yes,None,Yes,70,None,70,2,No,0,4
4,4,4,https://www.immoweb.be/en/classified/mansion/f...,liege-2,4020,Yes,mansion,268000,None,4,...,Yes,None,Yes,40,None,40,2,No,0,4

In [28]:
# del fpo['Unnamed: 0.1']
fpo.head()

fpo.columns = ['ID', 'Link', 'Locality', 'Postcode', 'house_is', 'Sub Type', 'Price', 'Type of sale', 'No of rooms', 'Area(sqft)', 'Fully Equipped Kitchen(Y/N)', 'Furnished(Y/N)', 'Open Fire(Y/N)', 'Terrace(Y/N)', 'Terrace Area', 'Garden(Y/N)', 'Garden Area', 'Surface of the Land(sqft)', 'Surface are of the Plot(sqft)', 'No of Facades', 'Swimming Pool(Y/N)', 'duplicates', 'null']
fpo.columns

Index(['ID', 'Link', 'Locality', 'Postcode', 'house_is', 'Sub Type', 'Price',
       'Type of sale', 'No of rooms', 'Area(sqft)',
       'Fully Equipped Kitchen(Y/N)', 'Furnished(Y/N)', 'Open Fire(Y/N)',
       'Terrace(Y/N)', 'Terrace Area', 'Garden(Y/N)', 'Garden Area',
       'Surface of the Land(sqft)', 'Surface are of the Plot(sqft)',
       'No of Facades', 'Swimming Pool(Y/N)', 'duplicates', 'null'],
      dtype='object')

In [22]:
url = 'datasets/first_suggestion'
total_7 = pd.read_table(url, sep=',')
total_7.head()
total_7.columns

/home/sara/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (2,5,6,7,8,9,12,14,15,19,20,21,22,23,24,25,26,27,28,29,35,39,40,42,46) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Index(['Unnamed: 0', 'Immoweb code', 'postcode', 'p_type', 'p_subtype',
       'price', 'Type_of_sale', 'n_room', 'area', 'kitchen_type',
       'is_furnished ', 'n_fireplace ', 'has_terrace', 'has_garden',
       'n_facades', 'has_pool', 'condition', 'n_facade', 'n_fireplace', 'url',
       'is_house', 'locality', 'has_kitchen', 'is_furnished', 'has_fire',
       'terrace_area', 'garden_area', 'land_area', 'street', 'region',
       'n_bedroom', 'n_bathroom', 'has_basement', 'has_lift', 'n_toilet',
       'street_n', 'constr_year', 'n_floor', 'Buildable floor surface',
       'Kitchen type', 'area_land', 'cadastral_income', 'price_type',
       'id_immoweb', 'area_garden', 'area_terrace', 'has_fireplace'],
      dtype='object')

In [24]:
total_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77061 entries, 0 to 77060
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               77061 non-null  int64
 1   Immoweb code             11603 non-null  float64
 2   postcode                 40955 non-null  object
 3   p_type                   55882 non-null  object
 4   p_subtype                68583 non-null  object
 5   price                    75412 non-null  object
 6   Type_of_sale             11604 non-null  object
 7   n_room                   45430 non-null  object
 8   area                     73381 non-null  object
 9   kitchen_type             19926 non-null  object
 10  is_furnished             11604 non-null  float64
 11  n_fireplace              11604 non-null  float64
 12  has_terrace              47588 non-null  object
 13  has_garden               58462 non-null  object
 14  n_facades                33505 non-null  object
 15  has_pool                 70659 non-null  object
 16  condition                57301 non-null  object
 17  n_facade                 16768 non-null  float64
 18  n_fireplace              9182 non-null   float64
 19  url                      21026 non-null  object
 20  is_house                 21026 non-null  object
 21  locality                 56977 non-null  object
 22  has_kitchen              39340 non-null  object
 23  is_furnished             46490 non-null  object
 24  has_fire                 21393 non-null  object
 25  terrace_area             13203 non-null  object
 26  garden_area              12903 non-null  object
 27  land_area                10023 non-null  object
 28  street                   7914 non-null   object
 29  region                   11003 non-null  object
 30  n_bedroom                30354 non-null  float64
 31  n_bathroom               8891 non-null   float64
 32  has_basement             24879 non-null  float64
 33  has_lift                 5209 non-null   float64
 34  n_toilet                 8136 non-null   float64
 35  street_n                 7530 non-null   object
 36  constr_year              6207 non-null   float64
 37  n_floor                  573 non-null    float64
 38  Buildable floor surface  10172 non-null  float64
 39  Kitchen type             7540 non-null   object
 40  area_land                45656 non-null  object
 41  cadastral_income         10789 non-null  float64
 42  price_type               17969 non-null  object
 43  id_immoweb               19965 non-null  float64
 44  area_garden              30050 non-null  float64
 45  area_terrace             28796 non-null  float64
 46  has_fireplace            19965 non-null  object
dtypes: float64(17), int64(1), object(29)
memory usage: 27.6+ MB

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

Index(['source ', 'hyperlink ', 'locality', 'postcode', 'house_is ',
       'property_subtype ', 'price', 'sale', 'rooms_number ', 'area ',
       'kitchen_has ', 'furnished ', 'open_fire ', 'terrace ', 'terrace_area',
       'garden ', 'garden_area', 'land_surface', 'land_plot_surface ',
       'facades_number ', 'swimming_pool_has ', 'building_state '],
      dtype='object')