In [1]:
import numpy as np
import pandas as pd

In [42]:
AMN_E=pd.read_csv('amn_e.csv')
AMN_R=pd.read_csv('amn_r.csv')
odc=pd.read_csv('odc.csv')
fpo=pd.read_csv('fpo.csv')
saa_h=pd.read_csv('saa_h.csv')
saa_i=pd.read_csv('saa_i.csv')
mds=pd.read_csv('mds.csv')
ejs=pd.read_csv('ejs.csv')

In [12]:
print(AMN_E.head(5))

   Unnamed: 0             Locality Type of Property                  Sub Type  \
0         0.0   Antwerpen-Centrum              Huis          Historische pand
1         1.0         Lasne/Ohain            Maison  Établissement historique
2         2.0      Antwerpen-Noord             Huis                     Villa
3         3.0      Antwerpen-Noord             Huis          Historische pand
4         4.0   Sint-Martens-Latem             Huis          Historische pand

          Price Type of Sale No of Rooms Area(sqft) Equipped(Y/N)  \
0   12,500,000          Huis           8  20.343,79           NaN
1    6,500,000        Maison          16         18           NaN
2    5,850,000          Huis          10  12.163,22           NaN
3    4,950,000          Huis          30  26.909,78           NaN
4    4,800,000          Huis        None      11,12           NaN

  Furnished(Y/N) Open Fire(Y/N) Terrace Area Garden Area  \
0            NaN            NaN          NaN         NaN
1            NaN            NaN          NaN         NaN
2            NaN            NaN          NaN         NaN
3            NaN            NaN          NaN         NaN
4            NaN            NaN          NaN         NaN

  Surface of the Land(sqft) Surface area of the Plot(sqft) No of Facades  \
0                       NaN                       9.181,62           NaN
1                       NaN                          20,01           NaN
2                       NaN                            2,3           NaN
3                       NaN                      4,950,000           NaN
4                       NaN                      4,800,000           NaN

  Simming Pool(Y/N) State of the Building
0                 Y                  None
1                 Y                  None
2                 Y                  None
3                 Y                  None
4                 Y                  None

In [10]:
print(AMN_R.head(5))

                                                                                             Locality  \
Rue Rimière 105, 4120 Rotheux-Rimière, Neupré                                                       0
Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Guss...  \n\n\n\n340000\n\n\t\t\t\t\t\t\t\t\t€ 340.000\...
Augustijnenlaan 77 201, 2200 Herentals              \n\n\n\n259000\n\n\t\t\t\t\t\t\t\t\t€ 259.000\...
Averbodesesteenweg 19, 2230 Herselt                 \n\n\n\n449000\n\n\t\t\t\t\t\t\t\t\t€ 449.000\...
Edward pynaertkaai 21, 9050 Ledeberg                \n\n\n\n249900\n\n\t\t\t\t\t\t\t\t\t€ 249.900\...

                                                    Price Property type  \
Rue Rimière 105, 4120 Rotheux-Rimière, Neupré       House             0
Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Guss...  House             3
Augustijnenlaan 77 201, 2200 Herentals               Flat             2
Averbodesesteenweg 19, 2230 Herselt                 House             4
Edward pynaertkaai 21, 9050 Ledeberg                 Flat             3

                                                   Number of rooms Area  \
Rue Rimière 105, 4120 Rotheux-Rimière, Neupré                    0   No
Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Guss...           170m2   No
Augustijnenlaan 77 201, 2200 Herentals                        88m2   No
Averbodesesteenweg 19, 2230 Herselt                          303m2   No
Edward pynaertkaai 21, 9050 Ledeberg                         102m2   No

                                                   Equipped kitchen Furnished  \
Rue Rimière 105, 4120 Rotheux-Rimière, Neupré                    No        No
Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Guss...               No        No
Augustijnenlaan 77 201, 2200 Herentals                           No       Yes
Averbodesesteenweg 19, 2230 Herselt                              No       Yes
Edward pynaertkaai 21, 9050 Ledeberg                             No       Yes

                                                   Garageopen_fire Terrace  \
Rue Rimière 105, 4120 Rotheux-Rimière, Neupré                   No      No
Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Guss...              No     Yes
Augustijnenlaan 77 201, 2200 Herentals                          No     Yes
Averbodesesteenweg 19, 2230 Herselt                             No     Yes
Edward pynaertkaai 21, 9050 Ledeberg                            No     Yes

                                                   Garden Swimming pool  \
Rue Rimière 105, 4120 Rotheux-Rimière, Neupré          No            No
Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Guss...    Yes            No
Augustijnenlaan 77 201, 2200 Herentals                Yes            No
Averbodesesteenweg 19, 2230 Herselt                   Yes            No
Edward pynaertkaai 21, 9050 Ledeberg                  Yes            No

                                                   New building  \
Rue Rimière 105, 4120 Rotheux-Rimière, Neupré                No
Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Guss...           No
Augustijnenlaan 77 201, 2200 Herentals                       No
Averbodesesteenweg 19, 2230 Herselt                          No
Edward pynaertkaai 21, 9050 Ledeberg                         No

                                                                                                 Link
Rue Rimière 105, 4120 Rotheux-Rimière, Neupré       https://www.realo.be/en/rue-rimiere-105-4120-r...
Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Guss...  https://www.realo.be/en/sint-truidensesteenweg...
Augustijnenlaan 77 201, 2200 Herentals              https://www.realo.be/en/augustijnenlaan-77-220...
Averbodesesteenweg 19, 2230 Herselt                 https://www.realo.be/en/averbodesesteenweg-19-...
Edward pynaertkaai 21, 9050 Ledeberg                https://www.realo.be/en/edward-pynaertkaai-21-...

In [15]:
with open('amn_e.csv', 'r') as txtReader:
    with open('amn_e_new.csv', 'w') as txtWriter:
        for line in txtReader.readlines():
            line = line.replace('\\n', '')
            txtWriter.write(line)

In [22]:
AMN_R_NEW=pd.read_csv('amn_r_new.csv')
AMN_R_NEW

,Locality,Price,Property type,Number of rooms,Area,Equipped kitchen,Furnished,Garageopen_fire,Terrace,Garden,Swimming pool,New building,Link
"Rue Rimière 105, 4120 Rotheux-Rimière, Neupré",0,House,0,0,No,No,No,No,No,No,No,No,https://www.realo.be/en/rue-rimiere-105-4120-r...
"Sint-Truidensesteenweg 95A A, 3350 Orsmaal-Gussenhoven, Linter",\n\n\n\n340000\n\n\t\t\t\t\t\t\t\t\t€ 340.000\...,House,3,170m2,No,No,No,No,Yes,Yes,No,No,https://www.realo.be/en/sint-truidensesteenweg...
"Augustijnenlaan 77 201, 2200 Herentals",\n\n\n\n259000\n\n\t\t\t\t\t\t\t\t\t€ 259.000\...,Flat,2,88m2,No,No,Yes,No,Yes,Yes,No,No,https://www.realo.be/en/augustijnenlaan-77-220...
"Averbodesesteenweg 19, 2230 Herselt",\n\n\n\n449000\n\n\t\t\t\t\t\t\t\t\t€ 449.000\...,House,4,303m2,No,No,Yes,No,Yes,Yes,No,No,https://www.realo.be/en/averbodesesteenweg-19-...
"Edward pynaertkaai 21, 9050 Ledeberg",\n\n\n\n249900\n\n\t\t\t\t\t\t\t\t\t€ 249.900\...,Flat,3,102m2,No,No,Yes,No,Yes,Yes,No,No,https://www.realo.be/en/edward-pynaertkaai-21-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Avenue andre drouart 26, 1160 Auderghem",\n\n\n\n525000\n\n\t\t\t\t\t\t\t\t\t€ 525.000\...,House,4,200m2,No,No,Yes,No,Yes,Yes,No,No,https://www.realo.be/en/avenue-andre-drouart-2...
1400 Nivelles,\n\n\n\n275000\n\n\t\t\t\t\t\t\t\t\t€ 275.000\...,Flat,2,93m2,No,No,Yes,No,Yes,Yes,No,No,https://www.realo.be/en/1400-nivelles/5759025?...
"Rue des boiteux 7, 1000 Brussels, Bruxelles",\n\n\n\n435000\n\n\t\t\t\t\t\t\t\t\t€ 435.000\...,Flat,2,100m2,No,No,Yes,No,Yes,Yes,No,No,https://www.realo.be/en/rue-des-boiteux-7-1000...
1830 Machelen,\n\n\n\n215000\n\n\t\t\t\t\t\t\t\t\t€ 215.000\...,House,2,105m2,No,No,Yes,No,Yes,Yes,No,No,https://www.realo.be/en/1830-machelen/5194071?...
"7134 Épinois, Epinois",\n\n\n\n190000\n\n\t\t\t\t\t\t\t\t\t€ 190.000\...,Flat,2,95m2,No,No,Yes,No,Yes,Yes,No,No,https://www.realo.be/en/7134-epinois/5195193?l...

In [18]:
AMN_E_NEW=pd.read_csv('amn_e_new.csv')

In [21]:
AMN_E_NEW

,Unnamed: 0,Locality,Type of Property,Sub Type,Price,Type of Sale,No of Rooms,Area(sqft),Equipped(Y/N),Furnished(Y/N),Open Fire(Y/N),Terrace Area,Garden Area,Surface of the Land(sqft),Surface area of the Plot(sqft),No of Facades,Simming Pool(Y/N),State of the Building
0,0.0,Antwerpen-Centrum,Huis,Historische pand,"12,500,000",Huis,8,"20.343,79",NaN,NaN,NaN,NaN,NaN,NaN,"9.181,62",NaN,Y,None
1,1.0,Lasne/Ohain,Maison,Établissement historique,"6,500,000",Maison,16,18,NaN,NaN,NaN,NaN,NaN,NaN,"20,01",NaN,Y,None
2,2.0,Antwerpen-Noord,Huis,Villa,"5,850,000",Huis,10,"12.163,22",NaN,NaN,NaN,NaN,NaN,NaN,"2,3",NaN,Y,None
3,3.0,Antwerpen-Noord,Huis,Historische pand,"4,950,000",Huis,30,"26.909,78",NaN,NaN,NaN,NaN,NaN,NaN,"4,950,000",NaN,Y,None
4,4.0,Sint-Martens-Latem,Huis,Historische pand,"4,800,000",Huis,None,"11,12",NaN,NaN,NaN,NaN,NaN,NaN,"4,800,000",NaN,Y,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,3980.0,Sant Gervasi,Apartment,Apartment,"1,195,000",Apartment,6,"2,249.33",1,None,None,None,0,None,"1,195,000",None,0,None
4614,3981.0,Saarbrücken (Regionalverband),Wohnung,Wohnung,"1,195,000",Wohnung,9,"2.690,98",0,None,None,None,0,None,"1,195,000",None,0,None
4615,3982.0,Roma,Apartment,Apartment,"1,195,000",Apartment,3,"1,453.13",0,None,None,None,0,None,"1,195,000",None,0,None
4616,3983.0,Eixample,Apartment,Apartment,"1,195,000",Apartment,5,"1,388.54",0,None,None,None,0,None,"1,195,000",None,1,None
4617,3984.0,Marbella Golden Mile,Apartment,Loft / Attic,"1,195,000",Apartment,10,"1,905.21",0,None,None,None,1,None,"1,195,000",None,1,None

In [26]:
AMN_E_NEW.drop(AMN_E_NEW.columns[AMN_E_NEW.columns.str.contains('unnamed',case=False)],axis=1, inplace=True)

In [27]:
AMN_E_NEW

,Locality,Type of Property,Sub Type,Price,Type of Sale,No of Rooms,Area(sqft),Equipped(Y/N),Furnished(Y/N),Open Fire(Y/N),Terrace Area,Garden Area,Surface of the Land(sqft),Surface area of the Plot(sqft),No of Facades,Simming Pool(Y/N),State of the Building
0,Antwerpen-Centrum,Huis,Historische pand,"12,500,000",Huis,8,"20.343,79",NaN,NaN,NaN,NaN,NaN,NaN,"9.181,62",NaN,Y,None
1,Lasne/Ohain,Maison,Établissement historique,"6,500,000",Maison,16,18,NaN,NaN,NaN,NaN,NaN,NaN,"20,01",NaN,Y,None
2,Antwerpen-Noord,Huis,Villa,"5,850,000",Huis,10,"12.163,22",NaN,NaN,NaN,NaN,NaN,NaN,"2,3",NaN,Y,None
3,Antwerpen-Noord,Huis,Historische pand,"4,950,000",Huis,30,"26.909,78",NaN,NaN,NaN,NaN,NaN,NaN,"4,950,000",NaN,Y,None
4,Sint-Martens-Latem,Huis,Historische pand,"4,800,000",Huis,None,"11,12",NaN,NaN,NaN,NaN,NaN,NaN,"4,800,000",NaN,Y,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,Sant Gervasi,Apartment,Apartment,"1,195,000",Apartment,6,"2,249.33",1,None,None,None,0,None,"1,195,000",None,0,None
4614,Saarbrücken (Regionalverband),Wohnung,Wohnung,"1,195,000",Wohnung,9,"2.690,98",0,None,None,None,0,None,"1,195,000",None,0,None
4615,Roma,Apartment,Apartment,"1,195,000",Apartment,3,"1,453.13",0,None,None,None,0,None,"1,195,000",None,0,None
4616,Eixample,Apartment,Apartment,"1,195,000",Apartment,5,"1,388.54",0,None,None,None,0,None,"1,195,000",None,1,None
4617,Marbella Golden Mile,Apartment,Loft / Attic,"1,195,000",Apartment,10,"1,905.21",0,None,None,None,1,None,"1,195,000",None,1,None

In [29]:
AMN_E_NEW.columns

Index(['Locality', 'Type of Property', 'Sub Type', 'Price', 'Type of Sale',
       'No of Rooms', 'Area(sqft)', 'Equipped(Y/N)', 'Furnished(Y/N)',
       'Open Fire(Y/N)', 'Terrace Area', 'Garden Area',
       'Surface of the Land(sqft)', 'Surface area of the Plot(sqft)',
       'No of Facades', 'Simming Pool(Y/N)', 'State of the Building'],
      dtype='object')

In [37]:

#AMN_E_NEW.insert(loc=len(AMN_E_NEW.columns), column='Terrace (Y/N)',value="")
AMN_E_NEW.insert(loc=len(AMN_E_NEW.columns), column='Garden (Y/N)',value="")
AMN_E_NEW.insert(loc=len(AMN_E_NEW.columns), column='Link (Y/N)',value="")

In [38]:
AMN_E_NEW

,Locality,Type of Property,Sub Type,Price,Type of Sale,No of Rooms,Area(sqft),Equipped(Y/N),Furnished(Y/N),Open Fire(Y/N),...,Garden Area,Surface of the Land(sqft),Surface area of the Plot(sqft),No of Facades,Simming Pool(Y/N),State of the Building,Link,Terrace (Y/N),Garden (Y/N),Link (Y/N)
0,Antwerpen-Centrum,Huis,Historische pand,"12,500,000",Huis,8,"20.343,79",NaN,NaN,NaN,...,,NaN,"9.181,62",NaN,Y,None,,,,
1,Lasne/Ohain,Maison,Établissement historique,"6,500,000",Maison,16,18,NaN,NaN,NaN,...,,NaN,"20,01",NaN,Y,None,,,,
2,Antwerpen-Noord,Huis,Villa,"5,850,000",Huis,10,"12.163,22",NaN,NaN,NaN,...,,NaN,"2,3",NaN,Y,None,,,,
3,Antwerpen-Noord,Huis,Historische pand,"4,950,000",Huis,30,"26.909,78",NaN,NaN,NaN,...,,NaN,"4,950,000",NaN,Y,None,,,,
4,Sint-Martens-Latem,Huis,Historische pand,"4,800,000",Huis,None,"11,12",NaN,NaN,NaN,...,,NaN,"4,800,000",NaN,Y,None,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,Sant Gervasi,Apartment,Apartment,"1,195,000",Apartment,6,"2,249.33",1,None,None,...,,None,"1,195,000",None,0,None,,,,
4614,Saarbrücken (Regionalverband),Wohnung,Wohnung,"1,195,000",Wohnung,9,"2.690,98",0,None,None,...,,None,"1,195,000",None,0,None,,,,
4615,Roma,Apartment,Apartment,"1,195,000",Apartment,3,"1,453.13",0,None,None,...,,None,"1,195,000",None,0,None,,,,
4616,Eixample,Apartment,Apartment,"1,195,000",Apartment,5,"1,388.54",0,None,None,...,,None,"1,195,000",None,1,None,,,,
4617,Marbella Golden Mile,Apartment,Loft / Attic,"1,195,000",Apartment,10,"1,905.21",0,None,None,...,,None,"1,195,000",None,1,None,,,,

In [43]:
result=pd.concat([AMN_E,AMN_R,odc,fpo,saa_h,saa_i,mds,ejs], axis=0, ignore_index=True)

In [44]:
result

,Unnamed: 0,Locality,Type of Property,Sub Type,Price,Type of Sale,No of Rooms,Area(sqft),Equipped(Y/N),Furnished(Y/N),...,Price type,Price additional value,Url,Type of property,Living surface area,Kitchen,Open fire,Surface of the land,Number of facades,State of the building
0,0.0,Antwerpen-Centrum,Huis,Historische pand,"12,500,000",Huis,8,"20.343,79",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Lasne/Ohain,Maison,Établissement historique,"6,500,000",Maison,16,18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Antwerpen-Noord,Huis,Villa,"5,850,000",Huis,10,"12.163,22",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Antwerpen-Noord,Huis,Historische pand,"4,950,000",Huis,30,"26.909,78",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Sint-Martens-Latem,Huis,Historische pand,"4,800,000",Huis,None,"11,12",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79872,11518.0,1000,NaN,NaN,210000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,APARTMENT,60.0,1.0,0.0,0.0,NaN,JUST_RENOVATED
79873,11519.0,9700,NaN,NaN,210000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,APARTMENT,80.0,1.0,0.0,0.0,4.0,NaN
79874,11520.0,3000,NaN,NaN,215000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,APARTMENT,26.0,1.0,0.0,0.0,2.0,JUST_RENOVATED
79875,11521.0,9950,NaN,NaN,215000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,APARTMENT,72.0,1.0,0.0,0.0,2.0,GOOD
79876,11522.0,1090,NaN,NaN,219000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,APARTMENT,83.0,1.0,0.0,0.0,4.0,NaN

In [45]:
result.columns

Index(['Unnamed: 0', 'Locality', 'Type of Property', 'Sub Type', 'Price',
       'Type of Sale', 'No of Rooms', 'Area(sqft)', 'Equipped(Y/N)',
       'Furnished(Y/N)',
       ...
       'Price type', 'Price additional value', 'Url', 'Type of property',
       'Living surface area', 'Kitchen', 'Open fire', 'Surface of the land',
       'Number of facades', 'State of the building'],
      dtype='object', length=122)